<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xing.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme">

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.AnimationHomeActivity" />
        <activity android:name=".app.hardware.sensor.activity.SensorHomeActivity" />
        <activity android:name=".app.hardware.sensor.activity.SensorIntroActivity" />
        <activity android:name=".app.hardware.sensor.activity.AccelerometerSensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.GravitySensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.MagneticSensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.OrientationSensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.LightSensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.ProximitySensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.EnvironmentSensorActivity"/>
        <activity android:name=".app.hardware.sensor.activity.StepSensorActivity"/>
    </application>

</manifest>
